.btn{
  background-color: #312f2f;
  color: #fff;
}
p{
  font-size: .8rem;
}
.validation{
  color: red;
  padding: 5px;
  font-size: 14px;
  p{
      margin: 0 !important;
  }
}
.form-group {
  margin-bottom: .2rem;
}
